//随机数字
@function parse-random($value) {
@return round(random() * $value);
}
$randomId: parse-random(1000000);

$spriteSrc: "~@/assets/images/iconsImg/sprite.png?v=1555470466000";
$spriteWidth: (622px);
$spriteHeight: (559px);
  $ico_buy1: -396px -328px 45px 45px;
  $ico_buy2: -50px -433px 45px 45px;
  $ico_carFalse: -547px -178px 37px 38px;
  $ico_carTrue: -547px -135px 38px 38px;
  $ico_checkBox1: -592px -107px 30px 30px;
  $ico_checkBox2: -592px -37px 30px 30px;
  $ico_class1: -296px -378px 45px 45px;
  $ico_class2: -346px -378px 45px 45px;
  $ico_home1: -396px -378px 45px 45px;
  $ico_home2: -446px -378px 45px 45px;
  $ico_kongkong: 0px 0px 323px 242px;
  $ico_my1: 0px -433px 45px 45px;
  $ico_my2: -383px -203px 45px 45px;
  $ico-activationCard: -247px -433px 42px 42px;
  $ico-activationRecord: -294px -433px 42px 42px;
  $ico-back: -592px -264px 19px 35px;
  $ico-bindAccount: -529px -433px 42px 42px;
  $ico-bindAccounts: -328px 0px 124px 143px;
  $ico-buyCar: -76px -527px 32px 32px;
  $ico-class: -496px -328px 45px 45px;
  $ico-collection1: 0px -527px 34px 32px;
  $ico-comment: -457px 0px 130px 130px;
  $ico-consultation1: -546px -378px 33px 33px;
  $ico-contactCustomerService: -150px -527px 34px 30px;
  $ico-contactCustomerService1: 0px -483px 43px 39px;
  $ico-coupons-checked: -457px -135px 85px 85px;
  $ico-delect: -592px -72px 30px 30px;
  $ico-edit: -592px -171px 26px 26px;
  $ico-free: -457px -290px 52px 30px;
  $ico-gender: -100px -433px 45px 45px;
  $ico-hidePassword: -592px -304px 26px 12px;
  $ico-identity: -150px -433px 45px 45px;
  $ico-kf: -514px -290px 38px 30px;
  $ico-LearningSituation: -341px -433px 42px 42px;
  $ico-myClass: -388px -433px 42px 42px;
  $ico-myCollection: -435px -433px 42px 42px;
  $ico-myNav1: -328px -203px 50px 50px;
  $ico-myNav2: -383px -148px 50px 50px;
  $ico-myNav3: -328px -148px 50px 50px;
  $ico-NoCheck: -113px -527px 32px 32px;
  $ico-overdued: 0px -328px 143px 100px;
  $ico-password: -446px -328px 45px 45px;
  $ico-phoneNumber: -346px -328px 45px 45px;
  $ico-play1: -592px -233px 26px 26px;
  $ico-play2: -592px -202px 26px 26px;
  $ico-region: -296px -328px 45px 45px;
  $ico-rollBag: -482px -433px 42px 42px;
  $ico-school: -378px -258px 45px 45px;
  $ico-setUp: -546px -328px 38px 30px;
  $ico-share: -592px 0px 30px 32px;
  $ico-shareTop: 0px -247px 322px 76px;
  $ico-showPassword: -592px -142px 30px 24px;
  $ico-taskReminder: -200px -433px 42px 42px;
  $ico-title-left: -48px -483px 105px 10px;
  $ico-title-right: -328px -308px 105px 10px;
  $ico-used: -148px -328px 143px 100px;
  $ico-userName: -328px -258px 45px 45px;
  $ico-verificationCode: -496px -378px 45px 45px;
  $ico-weichat: -457px -225px 60px 60px;
  $ico-xing: -592px -321px 14px 13px;
  $ico-YesCheck: -39px -527px 32px 32px;
  $ico-zhifubao: -522px -225px 60px 60px;

@function px2rem ($px) {
$rem: 32px;
@if (type-of($px) == "number") {
@return ($px / $rem) +rem;
}

@if (type-of($px) == "list") {
@if (nth($px, 1) == 0 and nth($px, 2) != 0) {
@return 0 nth($px, 2) / 16px * 1rem;
} @else if (nth($px, 1) == 0 and nth($px, 2) == 0)  {
@return 0 0;
} @else if (nth($px, 1) != 0 and nth($px, 2) == 0) {
@return nth($px, 1) / 16px * 1rem 0;
} @else {
@return nth($px, 1) / 16px *1rem nth($px, 2) / 16px * 1rem;
}
}
}

@function strip-units($number){
@return $number / ($number * 0 + 1);
}

@function format-zero($number){
@if $number == 0 {
@return 1;
}@else{
@return $number;
}
}

@mixin sprite-width($sprite, $precision) {
@if $precision {
width: px2rem(nth($sprite, 3));
}@else{
width: px2rem(nth($sprite, 3) + 2px);
}

}

@mixin sprite-height($sprite, $precision) {
@if $precision {
height: px2rem(nth($sprite, 4));
}@else{
height: px2rem(nth($sprite, 4) + 2px);
}
}

@mixin sprite-position($sprite, $precision) {
@if $precision {
background-position: strip-units(nth($sprite, 1)) / strip-units(nth($sprite, 3) - $spriteWidth) * 100%  strip-units(nth($sprite, 2)) / format-zero(strip-units(nth($sprite, 4) - $spriteHeight)) * 100%;
}@else{
background-position: strip-units(nth($sprite, 1)) / strip-units(nth($sprite, 3) + 1 - $spriteWidth) * 100%  strip-units(nth($sprite, 2)) / format-zero(strip-units(nth($sprite, 4) + 1 - $spriteHeight)) * 100%;
}
}

@mixin sprite($sprite, $precision) {
@include sprite-position($sprite, $precision);
@include sprite-width($sprite, $precision);
@include sprite-height($sprite, $precision);
background-image: url('#{$spriteSrc}');
background-repeat: no-repeat;
background-size: px2rem($spriteWidth) px2rem($spriteHeight);
display: inline-block;
}


  @mixin mix-ico_buy1() {
  @include sprite($ico_buy1, $precision: false);
  }
  @mixin mix-ico_buy2() {
  @include sprite($ico_buy2, $precision: false);
  }
  @mixin mix-ico_carFalse() {
  @include sprite($ico_carFalse, $precision: false);
  }
  @mixin mix-ico_carTrue() {
  @include sprite($ico_carTrue, $precision: false);
  }
  @mixin mix-ico_checkBox1() {
  @include sprite($ico_checkBox1, $precision: false);
  }
  @mixin mix-ico_checkBox2() {
  @include sprite($ico_checkBox2, $precision: false);
  }
  @mixin mix-ico_class1() {
  @include sprite($ico_class1, $precision: false);
  }
  @mixin mix-ico_class2() {
  @include sprite($ico_class2, $precision: false);
  }
  @mixin mix-ico_home1() {
  @include sprite($ico_home1, $precision: false);
  }
  @mixin mix-ico_home2() {
  @include sprite($ico_home2, $precision: false);
  }
  @mixin mix-ico_kongkong() {
  @include sprite($ico_kongkong, $precision: false);
  }
  @mixin mix-ico_my1() {
  @include sprite($ico_my1, $precision: false);
  }
  @mixin mix-ico_my2() {
  @include sprite($ico_my2, $precision: false);
  }
  @mixin mix-ico-activationCard() {
  @include sprite($ico-activationCard, $precision: false);
  }
  @mixin mix-ico-activationRecord() {
  @include sprite($ico-activationRecord, $precision: false);
  }
  @mixin mix-ico-back() {
  @include sprite($ico-back, $precision: false);
  }
  @mixin mix-ico-bindAccount() {
  @include sprite($ico-bindAccount, $precision: false);
  }
  @mixin mix-ico-bindAccounts() {
  @include sprite($ico-bindAccounts, $precision: false);
  }
  @mixin mix-ico-buyCar() {
  @include sprite($ico-buyCar, $precision: false);
  }
  @mixin mix-ico-class() {
  @include sprite($ico-class, $precision: false);
  }
  @mixin mix-ico-collection1() {
  @include sprite($ico-collection1, $precision: false);
  }
  @mixin mix-ico-comment() {
  @include sprite($ico-comment, $precision: false);
  }
  @mixin mix-ico-consultation1() {
  @include sprite($ico-consultation1, $precision: false);
  }
  @mixin mix-ico-contactCustomerService() {
  @include sprite($ico-contactCustomerService, $precision: false);
  }
  @mixin mix-ico-contactCustomerService1() {
  @include sprite($ico-contactCustomerService1, $precision: false);
  }
  @mixin mix-ico-coupons-checked() {
  @include sprite($ico-coupons-checked, $precision: false);
  }
  @mixin mix-ico-delect() {
  @include sprite($ico-delect, $precision: false);
  }
  @mixin mix-ico-edit() {
  @include sprite($ico-edit, $precision: false);
  }
  @mixin mix-ico-free() {
  @include sprite($ico-free, $precision: false);
  }
  @mixin mix-ico-gender() {
  @include sprite($ico-gender, $precision: false);
  }
  @mixin mix-ico-hidePassword() {
  @include sprite($ico-hidePassword, $precision: false);
  }
  @mixin mix-ico-identity() {
  @include sprite($ico-identity, $precision: false);
  }
  @mixin mix-ico-kf() {
  @include sprite($ico-kf, $precision: false);
  }
  @mixin mix-ico-LearningSituation() {
  @include sprite($ico-LearningSituation, $precision: false);
  }
  @mixin mix-ico-myClass() {
  @include sprite($ico-myClass, $precision: false);
  }
  @mixin mix-ico-myCollection() {
  @include sprite($ico-myCollection, $precision: false);
  }
  @mixin mix-ico-myNav1() {
  @include sprite($ico-myNav1, $precision: false);
  }
  @mixin mix-ico-myNav2() {
  @include sprite($ico-myNav2, $precision: false);
  }
  @mixin mix-ico-myNav3() {
  @include sprite($ico-myNav3, $precision: false);
  }
  @mixin mix-ico-NoCheck() {
  @include sprite($ico-NoCheck, $precision: false);
  }
  @mixin mix-ico-overdued() {
  @include sprite($ico-overdued, $precision: false);
  }
  @mixin mix-ico-password() {
  @include sprite($ico-password, $precision: false);
  }
  @mixin mix-ico-phoneNumber() {
  @include sprite($ico-phoneNumber, $precision: false);
  }
  @mixin mix-ico-play1() {
  @include sprite($ico-play1, $precision: false);
  }
  @mixin mix-ico-play2() {
  @include sprite($ico-play2, $precision: false);
  }
  @mixin mix-ico-region() {
  @include sprite($ico-region, $precision: false);
  }
  @mixin mix-ico-rollBag() {
  @include sprite($ico-rollBag, $precision: false);
  }
  @mixin mix-ico-school() {
  @include sprite($ico-school, $precision: false);
  }
  @mixin mix-ico-setUp() {
  @include sprite($ico-setUp, $precision: false);
  }
  @mixin mix-ico-share() {
  @include sprite($ico-share, $precision: false);
  }
  @mixin mix-ico-shareTop() {
  @include sprite($ico-shareTop, $precision: false);
  }
  @mixin mix-ico-showPassword() {
  @include sprite($ico-showPassword, $precision: false);
  }
  @mixin mix-ico-taskReminder() {
  @include sprite($ico-taskReminder, $precision: false);
  }
  @mixin mix-ico-title-left() {
  @include sprite($ico-title-left, $precision: false);
  }
  @mixin mix-ico-title-right() {
  @include sprite($ico-title-right, $precision: false);
  }
  @mixin mix-ico-used() {
  @include sprite($ico-used, $precision: false);
  }
  @mixin mix-ico-userName() {
  @include sprite($ico-userName, $precision: false);
  }
  @mixin mix-ico-verificationCode() {
  @include sprite($ico-verificationCode, $precision: false);
  }
  @mixin mix-ico-weichat() {
  @include sprite($ico-weichat, $precision: false);
  }
  @mixin mix-ico-xing() {
  @include sprite($ico-xing, $precision: false);
  }
  @mixin mix-ico-YesCheck() {
  @include sprite($ico-YesCheck, $precision: false);
  }
  @mixin mix-ico-zhifubao() {
  @include sprite($ico-zhifubao, $precision: false);
  }
